<h1>All investors</h1>

<%= form_tag investors_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<ul>
	<hr>
	<% @investors.each do |investor| %>
		<li>
			<%= link_to investor.name, investor_path(investor) %><br>
			<p><%= investor.description %></p>
		</li>
		<hr>
	<% end %>
</ul>